*This file is intended to assist the Chocolatey moderators and community in verifying that this package's contents are trustworthy.*

The Chocolatey package should contain one executable file `upack.exe`, which is digitally signed by Inedo's code signing certificate.

`upack.exe` should be exactly the same file as the file named `upack.exe` on the corresponding GitHub release.
